<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class="login">
    <div class="login-screen">
    <div class="app-title">
    <h1>Dashboard</h1>
    </div>
    <div class="body">
        <h1>Welcome to the dashboard</h1>
        <h2>This cannot be seen if the user is logged out</h2>
    </div>
<form action="/logout" method="POST">
    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
    <input type="submit" value="Log out" class="btn btn-primary btn-large btn-block">
</form>
    </div>
    </div>
    </div>